<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" method="post">

  <form action="/creatProduct" method="post" enctype="multipart/form-data">

    <!-- /* 코드 완성 */ -->
    <table>
      <tr>
        <td>상품이름</td>
        <td><input type="text" name="title" /></td>
      </tr>

      <tr>
        <td>상품가격</td>
        <td><input type="text" name="pprice"/></td>
      </tr>

      <tr>
        <td>상품종류</td>
        <td><input type="text" name="pcategory"/></td>
      </tr>

      <tr>
        <td>상품설명</td>
        <td><textarea></textarea></td>
      </tr>

      <tr>
        <td>사진</td>
        <td><input type="file" name="productFile"/></td>
      </tr>

      <tr>
        <td>제조회사</td>
        <td><input type="text" name="pcompany"/></td>
      </tr>

      <tr>
        <td>재고</td>
        <td><input type="text" name="pstock"/></td>
      </tr>

      <tr>
        <td>
          <input type="submit" value="새 글 등록" />
        </td>
      </tr>
    </table>

  </form>

</html>