<div class="container" th:fragment="content">
    <div class="content1">
        <div class="block1-1">
            <img th:src="@{../image/product/쇼핑몰배너003.png}" alt="상품" id="banner01">
        </div>

        <div class="block1-2">
            <div class="row row-cols-1 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card h-100" id="product-card">
                        <img th:src="@{../image/product/상품1.png}" class="card-img-top" alt="상품">
                        <div class="card-body">
                            <span id="brand">펫생각</span>
                            <h5 class="card-title">행소행댕 멸균 강아지우유 10개 100ml</h5>
                            <p class="card-text">
                                <span id="old-price">21,000원</span>
                            <div id="price"><span id="discount">34%</span>&nbsp;13,800원</div>
                            <!-- <p id="description">설명</p> -->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" id="product-card">
                        <img th:src="@{../image/product/상품2.png}" class="card-img-top" alt="상품">
                        <div class="card-body">
                            <span id="brand">개과천선</span>
                            <h5 class="card-title">베리빅 강아지 이동가방 카시트</h5>
                            <p class="card-text">
                                <span id="old-price">150,000원</span>
                            <div id="price"><span id="discount">54%</span>&nbsp;59,000원</div>
                            <!-- <p id="description">설명</p> -->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" id="product-card">
                        <img th:src="@{../image/product/상품2.png}" class="card-img-top" alt="상품">
                        <div class="card-body">
                            <span id="brand">개과천선</span>
                            <h5 class="card-title">베리빅 강아지 이동가방 카시트</h5>
                            <p class="card-text">
                                <span id="old-price">150,000원</span>
                            <div id="price"><span id="discount">54%</span>&nbsp;59,000원</div>
                            <!-- <p id="description">설명</p> -->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" id="product-card">
                        <img th:src="@{../image/product/상품2.png}" class="card-img-top" alt="상품">
                        <div class="card-body">
                            <span id="brand">개과천선</span>
                            <h5 class="card-title">베리빅 강아지 이동가방 카시트</h5>
                            <p class="card-text">
                                <span id="old-price">150,000원</span>
                            <div id="price"><span id="discount">54%</span>&nbsp;59,000원</div>
                            <!-- <p id="description">설명</p> -->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" id="product-card">
                        <img th:src="@{../image/product/상품2.png}" class="card-img-top" alt="상품">
                        <div class="card-body">
                            <span id="brand">개과천선</span>
                            <h5 class="card-title">베리빅 강아지 이동가방 카시트</h5>
                            <p class="card-text">
                                <span id="old-price">150,000원</span>
                            <div id="price"><span id="discount">54%</span>&nbsp;59,000원</div>
                            <!-- <p id="description">설명</p> -->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" id="product-card">
                        <img th:src="@{../image/product/상품2.png}" class="card-img-top" alt="상품">
                        <div class="card-body">
                            <span id="brand">개과천선</span>
                            <h5 class="card-title">베리빅 강아지 이동가방 카시트</h5>
                            <p class="card-text">
                                <span id="old-price">150,000원</span>
                            <div id="price"><span id="discount">54%</span>&nbsp;59,000원</div>
                            <!-- <p id="description">설명</p> -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block1-3">
            <nav aria-label="Page navigation example" id="paging-bar">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>