<!-- fragments/header.html -->
<header th:fragment="header">
    <div class="header">
        <div class="logo-container">
            <a th:href="@{/meongmung}">
                <img id="logo" th:src="@{/image/tool/mainicon.png}" alt="MungMung 로고" class="logo">
            </a>
        </div>
    </div>
</header>

<!-- fragments/nav.html -->
<nav th:fragment="navMenu">
    <ul class="menu">
        <div class="menuWrap">
            <li><a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a></li>
            <li><a sec:authorize="isAnonymous()" th:href="@{/signup1}">회원가입</a></li>
            <li><a sec:authorize="isAuthenticated()" th:href="@{/profile}">
                <img id="profilePic" th:src="@{/image/main/example.png}" alt="profile 로고" class="profile"><br>회원 닉네임</a>
            </li>
            <li><a sec:authorize="isAuthenticated()" th:href="@{/mypage}">마이 페이지</a></li>
            <li><a sec:authorize="isAuthenticated()" th:href="@{/profile}">프로필 수정</a></li>
            <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a></li>
            <li><a th:href="@{/mungstory.html}">멍스토리</a></li>
            <li>
                <a sec:authorize="isAnonymous()" th:href="@{/sos.html}" th:onclick="return checkLogin();">멍SOS</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/soshospitallist}">멍SOS</a>
                <ul class="submenu">
                    <li><a th:href="@{/soshospitallist}">지역별 동물병원</a></li>
                    <li><a href="#">SOS 상담</a></li>
                </ul>
            </li>
            <li>
                <a href="#">리워드</a>
                <ul class="submenu">
                    <li><a href="#">젤리 퀘스트</a></li>
                    <li><a th:href="@{/productMain}">멍뭉쇼핑</a></li>
                </ul>
            </li>
        </div>
    </ul>
</nav>

<!-- fragments/footer.html -->

<footer th:fragment="footer">
    <div class="shadow1">
        <div class="footerWrap">
            <div id="lia">
            <ul>
                <li><a href="about.html">회사소개</a></li>
                <li><a href="terms.html">이용약관</a></li>
                <li><a href="privacy.html">개인정보처리방침</a></li>
            </ul>
            </div>
            <div class="span">
            <span id="footer-span">Footer content goes here</span>
            </div>
            <div class="social-links">
                <ul class="nav justify-content-end list-unstyled d-flex">
                    <li><a class="text-body-secondary" href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a class="text-body-secondary" href="https://www.instagram.com"><i class="bi bi-instagram"></i></a></li>
                    <li><a class="text-body-secondary" href="https://www.facebook.com"><i class="bi bi-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
