/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 요소 크기를 보다 정확하게 설정 */
    font-family: 'Noto Sans KR', sans-serif; /* 깔끔한 폰트 설정 */
    user-select: none;
}

/* Header */
.header {
    /*width: 100%;*/
    /*max-width: 1600px;*/
    min-width: 1000px;
    text-align: center;
    line-height: 120px;
    font-size: 24px;
    color: #555;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 헤더에 그림자 추가 */
}

/* body */
body {
    padding-left: 200px;
    min-width: 1600px;
    /* min-width: 1024px; */
    width : 100%;
}

/* Container */
.container {
    margin-left: auto;
    width: calc(100% - 200px);
    margin-top: 30px;
}

.logo-container {
    padding: 5px 0;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

.logo {
    width: 220px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Navigation Menu */
.menu {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.1); /* 네비게이션바에 그림자 추가 */
}

.menuWrap{
    margin-top: 200px;
}

#profilePic {
    border-radius: 50%;
    margin-bottom: 10px;
}

/* List Styles */
li {
    list-style-type: none;
}

.menu .menuWrap > li {
    width: 100%;
    line-height: 40px;
    background-color: #ffffff;
    margin-bottom: 5px;
}

.menu .menuWrap a {
    color: #555;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    user-select: none;
}

.menu .menuWrap a:hover {
    color: rgb(62, 169, 122);
    transition: color 0.3s;
}

.submenu {
    height: 0;
    overflow: hidden;
}

.submenu > li {
    line-height: 40px;
    background-color: #ffffff;
    margin-bottom: 5px;
}


.menu .menuWrap > li:hover {
    background-color: #ffffff;
    transition-duration: 0.5s;
}

.menu .menuWrap > li:hover .submenu {
    height: 100px;
    transition-duration: 1s;
}

/* Footer */

.footer {
    margin-top: auto; /* 컨텐츠 하단에 배치 */
    width: 100%;
    height: 100px;

}

.shadow1 {
    width: 100%;
    height: 200px;
    /* background-color: #ecf0f2; */
    line-height: 60px;
    color: #555;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.15); /* 풋터에 그림자 추가 */
}

.footerWrap {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;

}

.footerWrap #lia ul {
    display: flex; /* Flexbox를 사용하여 가로로 배치 */
    list-style-type: none; /* 불릿 포인트 제거 */
    padding: 0;
    margin: 0;
}

.footerWrap #lia ul li {
    display: inline-block;

    margin-right: 20px; /* 각 항목 사이의 간격 설정 */
}

.footerWrap #lia ul li a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: #555; /* 텍스트 색상 설정 */
}

.footerWrap #lia ul li a:hover {
    color: rgb(62, 169, 122); /* 링크에 마우스를 올렸을 때 색상 변화 */
}

.footerWrap .social-links ul {
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 아이템들을 균일하게 벌림 */
    padding: 0;
    margin: 0;
    list-style-type: none; /* 불릿 포인트 제거 */
}
.footerWrap .social-links ul li {
        padding: 0;
        margin-left: 15px;
}

/* Additional Styles */
ol, ul {
    padding-left: 0rem;
}
