
.container {
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-height: 1200px;
    width: 1200px;
}
.header_point{
    background-color: #6bb08b;

}

.header button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.header button.active {
    background-color: #000;
    color: #fff;
}

.header_point button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}


.liked_story {
    width: 600px;
    text-align: left;
    display: block;
}


.liked_content{
    display: block;
    float: left;
    width: 200px;
    height: 200px;
    background-color: #c9ecd7;
    margin-right: 50px;
}

.liked_story h2 {
    font-size: 24px;
    margin-bottom: 50px;
    height: 20px;
}

.written_stories{
    margin-top: 50px;
    width: 600px;

}

.written_stories h2 {
    margin-bottom: 30px;
    width: 400px;
    text-align: left;
}

.written_content{
    display: block;
    margin-bottom: 20px;
}

.written_content h3{
    display: inline;
    margin-bottom: 20px;
    width: 400px;
}

.written_content a{
    float: right;
    margin-right: 8px;
    margin-bottom: 7px;
}

.posts img {
    width: 45%;
    border-radius: 10px;
}
.posts button {
    background-color: #6bb08b;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.cart {
    margin-top: 20px;
    margin-bottom: 70px;
}
.cart div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    padding: 10px;
    background-color: #dcdcdc;
    border-radius: 10px;
}
.cart div img {
    width: 45%;
    border-radius: 10px;
}
.cart div button {
    background-color: #6bb08b;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}