<main class="content" th:fragment="content1" id="sosPage">
    <div id="content">
        <div>
            <div class="vatcard">
                <h1>SOS 상담을 통해 언제 어디서나 수의사에게 물어보세요</h1>
                <div class="vat_card">
                    <a th:href="@{/soshospitallist/sosqnaboard}">
                        <h2>알러지 증상일까요</h2>
                        <h3>점점 피부가 빨갛게 붓고 오돌토돌 알러지같이 ...</h3>
                        <h4>수의사 답변 확인하기</h4>
                    </a>
                    <a th:href="@{/#}" class="text_align">
                        <h2>계곡 다녀온 후 열이 나요 ㅠ</h2>
                        <h3>지난 주 토요일 강아지와 계곡에 다녀왔는데 ...</h3>
                        <h4>수의사 답변 확인하기</h4>
                    </a>
                    <a th:href="@{/#}">
                        <h2>강아지가 미용을 하고 난 후 걷지 못해요</h2>
                        <h3>미용을 하고 난 후 산책을 가면 몇 보 걷다가 주저 ...</h3>
                        <h4>수의사 답변 확인하기</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="vatmap">

            <h1>병원정보가 필요할 땐 동물병원 찾아보기</h1>
            <!--카카오 api위치-->

            <div id="map" style="width:1000px;height:600px;"></div>
            <button onclick="showMarkers()">마커 보이기</button>
            <button onclick="hideMarkers()">마커 감추기</button>

            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=66dcbcfcfefe76b698e9151d6ae07293"></script>
            <script>
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                    mapOption = {
                        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                        level: 3 // 지도의 확대 레벨
                    };

                var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                // 지도를 클릭했을때 클릭한 위치에 마커를 추가하도록 지도에 클릭이벤트를 등록합니다
                kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
                    // 클릭한 위치에 마커를 표시합니다
                    addMarker(mouseEvent.latLng);
                });

                // 지도에 표시된 마커 객체를 가지고 있을 배열입니다
                var markers = [];

                // 마커 하나를 지도위에 표시합니다
                addMarker(new kakao.maps.LatLng(33.450701, 126.570667));

                // 마커를 생성하고 지도위에 표시하는 함수입니다
                function addMarker(position) {

                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        position: position
                    });

                    // 마커가 지도 위에 표시되도록 설정합니다
                    marker.setMap(map);

                    // 생성된 마커를 배열에 추가합니다
                    markers.push(marker);
                }

                // 배열에 추가된 마커들을 지도에 표시하거나 삭제하는 함수입니다
                function setMarkers(map) {
                    for (var i = 0; i < markers.length; i++) {
                        markers[i].setMap(map);
                    }
                }

                // "마커 보이기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에 표시하는 함수입니다
                function showMarkers() {
                    setMarkers(map)
                }

                // "마커 감추기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에서 삭제하는 함수입니다
                function hideMarkers() {
                    setMarkers(null);
                }
            </script>

        </div>
    </div>
</main>

<main class="content2" th:fragment="content2" id="sosPage">
    <div id="content2">
        <div>
            <form class="search-box" action="" method="get">
                <input class="search-txt" type="text" name="" placeholder="검색">
            </form>
        </div>
        <div class="vatQuest">
            <table border="1">
                <colgroup>
                    <col span="1" class="col1" />
                    <col span="2" class="col2" />
                    <col span="3" class="col3" />
                </colgroup>
                <tbody>
                <tr>
                    <td rowspan="bb2" class="vatpicture">
                        <div>
                            <a href="#"><!--<img>--></a>
                        </div>
                    </td>
                    <td colspan="4" >
                        <div class="vet_title" >
                            <a th:href="@{/soshospitallist/sosqnaboard}" class="vattitle">알러지 증상일까요</a>
                            <a href="#" class="vatdate">작성일 : 2222.22.22</a>
                        </div>
                    </td>
                    <td><a th:href="@{/soshospitallist/sosqnaboard}" class="vatreply">수의사 답변 확인하기</a></td>
                </tr>

                <tr>
                    <td rowspan="bb2" class="vatpicture">
                        <div>
                            <a href="#"><!--<img>--></a>
                        </div>
                    </td>
                    <td colspan="4" >
                        <div class="vet_title" >
                            <a href="#" class="vattitle">알러지 증상일까요</a>
                            <a href="#" class="vatdate">작성일 : 2222.22.22</a>
                        </div>
                    </td>
                    <td><a href="#" class="vatreply">수의사 답변 확인하기</a></td>
                </tr>

                <tr>
                    <td rowspan="bb2" class="vatpicture">
                        <div>
                            <a href="#"><!--<img>--></a>
                        </div>
                    </td>
                    <td colspan="4" >
                        <div class="vet_title" >
                            <a href="#" class="vattitle">알러지 증상일까요</a>
                            <a href="#" class="vatdate">작성일 : 2222.22.22</a>
                        </div>
                    </td>
                    <td><a href="#" class="vatreply">수의사 답변 확인하기</a></td>
                </tr>

                <tr>
                    <td rowspan="bb2" class="vatpicture">
                        <div>
                            <a href="#"><!--<img>--></a>
                        </div>
                    </td>
                    <td colspan="4" >
                        <div class="vet_title" >
                            <a href="#" class="vattitle">알러지 증상일까요</a>
                            <a href="#" class="vatdate">작성일 : 2222.22.22</a>
                        </div>
                    </td>
                    <td><a href="#" class="vatreply">수의사 답변 확인하기</a></td>
                </tr>

                <tr>
                    <td rowspan="bb2" class="vatpicture">
                        <div>
                            <a href="#"><!--<img>--></a>
                        </div>
                    </td>
                    <td colspan="4" >
                        <div class="vet_title" >
                            <a href="#" class="vattitle">알러지 증상일까요</a>
                            <a href="#" class="vatdate">작성일 : 2222.22.22</a>
                        </div>
                    </td>
                    <td><a href="#" class="vatreply">수의사 답변 확인하기</a></td>
                </tr>
            </table>
        </div>
    </div>
</main>