<main class="content" th:fragment="content" id="boardContent">
    <div id="content">
        <div>
            <div class="vatcard">
                <h1>SOS 상담을 통해 언제 어디서나 수의사에게 물어보세요</h1>
                <div class="vat_card">
                    <a th:href="@{/#}">
                        <h2>알러지 증상일까요</h2>
                        <h3>점점 피부가 빨갛게 붓고 오돌토돌 알러지같이 ...</h3>
                        <h4>수의사 답변 확인하기</h4>
                    </a>
                </div>
            </div>

        </div>
        <div class="vatmap">
        </div>
    </div>
</main>